alembic
blinker
certifi
cffi
charset_normalizer
click
cryptography
dnspython
email-validator
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
jinja2
mako
MarkupSafe
packaging
Pillow
pycparser
pyOpenSSL
pySHA3
python-dotenv
pyzbar
qrcode[pil]
requests
SQLAlchemy
typing_extensions
urllib3
wtforms
Werkzeug
