Flask
Flask-Login
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
python-dotenv
email_validator
pyzbar
requests
gunicorn
alembic
blinker
certifi
cffi
charset_normalizer
click
dnspython
idna
itsdangerous
jinja2
MarkupSafe
SQLAlchemy
urllib3
packaging
qrcode
wtforms
greenlet
typing_extensions
mako
pycparser
cryptography
pyOpenSSL
