<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sistem Sertifikat Digital{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-gray-100 font-sans">

    {% block body_content %}{% endblock %}

    {# --- PERBAIKAN: Tambahkan blok skrip di sini --- #}
    {# Ini akan mengizinkan template turunan untuk menyisipkan JavaScript. #}
    {% block scripts %}{% endblock %}
    
</body>
</html>