{% extends "base.html" %}

{% block body_content %}
    {% include 'includes/_navbar.html' %}

    <main class="container mx-auto mt-4 p-4 md:px-0">
        {% include 'includes/_messages.html' %}
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center text-gray-500 mt-12 py-4 border-t border-gray-300">
        <p>© {{ current_year }} Agree Musik</p>
    </footer>
{% endblock %}

{% block scripts_extra %}
    {# Script untuk menutup flash messages #}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const closeButtons = document.querySelectorAll('.alert-close-btn');
            closeButtons.forEach(button => {
                button.addEventListener('click', function() {
                    this.parentElement.style.display = 'none';
                });
            });

            // Script untuk Mobile Menu (PINDAHKAN KE SINI)
            const menuButton = document.getElementById('mobile-menu-button');
            const mobileMenu = document.getElementById('mobile-menu');
            if (menuButton && mobileMenu) {
                menuButton.addEventListener('click', () => {
                    mobileMenu.classList.toggle('hidden');
                });
            }
        });
    </script>
{% endblock %}